@{
    var nomeView = (string) ViewData["NomeView"];
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC&display=swap" rel="stylesheet">
    <link href="~/img/logo.png" rel="icon" type="image/x-icon">
    <title>Rolê Top</title>
    <style type="text/css">
        img {
            max-width: 100%;
            width: 600px;
            height: 400px;
        }
        </style>
</head>
<body>
    <header>
        <nav>
            <section id="botoes-do-menu">
                <div class="section-container">
                    <ul>
                        <a href="javascript:void(0);" class="icon" onclick="toggleMobileMenu()">
                            <i class="fa fa-bars"></i>
                        </a>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Home" asp-action="Index" class="active">MENU</a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("Index", "Home")#FAQ'>FAQ</a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("Index", "Home")#sobre_a_casa'>SOBRE A CASA</a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("Index", "Home")#tipos_de_eventos'>TIPOS DE EVENTOS</a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("Index", "Home")#signup'>CADASTRE-SE</a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Cliente" asp-action="login">LOGIN</a></li>
                    </ul>
                </div>
            </section>
        </nav>
        <div id="logo-area">
            <img src="img/47778.png">
        </div>
    </header>

@RenderBody()

    <footer>
        <div class="section-container">
            <address>
                Avenida de Limeira, 539 - Campos Elíseos - SP
                <br />
                mcbonalds@email.com
                <br />
                11 1234 6789
            </address>
            <a href="#">Voltar para o topo!</a>
        </div>
    </footer>

    <!-- PASSO 6 - Adicione a tag script e seu conteúdo antes do body fechar -->
    <!-- Agora vá para o style.css desse projeto! -->
        <script>
            function toggleMobileMenu() {
            var ul = document.querySelector("nav ul");
            var commonButtons = document.querySelectorAll("nav .bt-common-menu");
            var icon = document.querySelector(".icon > i");

            ul.classList.toggle("mobile-mode");

            if (icon.classList.contains("fa-bars")) 
            {
                icon.classList.remove("fa-bars");
                icon.classList.remove("fa");

                icon.classList.add("fas");
                icon.classList.add("fa-skull");
            } 
            
            else 
            {
                icon.classList.remove("fas");
                icon.classList.remove("fa-skull");

                icon.classList.add("fa");
                icon.classList.add("fa-bars");
            }

            for (var button of commonButtons) 
            {
                button.classList.toggle("active");
            }

        }
        
        </script>
</body>
</html>